*{
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    
}
.logo{
    float: left;
}


.barra{
    float: right;
}

.barra ul li{
    list-style: none;
    display: inline-block;
}

.barra ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#seccionvideo{
    border: 10px solid orange;
}

#video1{
    border: 5px solid orange;
    }

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#fotos{
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space;
    background-image: url(https://cdn.pixabay.com/photo/2020/09/07/15/28/cellphones-5552132_960_720.jpg);
    background-size:contain;
    border: 5px solid orange;
}
    .testimonios{
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space;
    border: 5px solid orange;
    background-size:contain;
    
}



footer{
    position: absolute;
    bottom: 0;
    background-color: black;
    padding: 1em 0;
    width: 100%;
    
}
body{
    position: relative;
    padding-bottom: 3.5em;
    min-height: 100vh;
}
form{
    background-color:orange;
    text-align: center;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}
#contactanos{
    text-align: center;
    
}
#seccionvideo{
    background-image: url(https://cdn.pixabay.com/photo/2020/08/22/01/34/cellphones-5507342_960_720.jpg);
}
#quienessomos{
    text-align: center;
    background-color: black;
    color: white;
}
.centrado{
    text-align: center;
}

.listaProductos{
    width: 100%;
    min-height: auto;
    background-image: url(imagenes/celulares.jpg);
    
}

.itemP{
    width: auto;
    height: 350px;
    border: 2px solid orange;
    padding: 15px;
    margin: 15px;
    background-image: linear-gradient(red,orange);
}



.whatsapp{
    height: 40px;
    width: 40px;
    position: fixed;
    background-color: greenyellow;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    border: black 3px solid;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 10px black;
}

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
}

.reparacion{
    width: 100%;
    height: 500px;

    background-image: url(https://cdn.pixabay.com/photo/2017/07/16/20/44/mobile-phone-2510529_960_720.jpg);
    background-position: center;
}

.videoReparacion{
    text-align: center;
    padding-top: 250px;
    color: black;
    font-size: 30px;
}

.proteccion{
    width: 100%;
    height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2014/01/21/04/54/iphone-248906_960_720.jpg);
    background-position: center;
}

.videoProteccion{
    text-align: center;
    padding-top: 250px;
    color: black;
    font-size: 30px;
}

@media only screen and (min-width: 460px){
    .listaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 670px) {
    .listaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media only screen and (min-width: 670px) {
    .listaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media only screen and (min-width: 1070px) {
    .listaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

@media only screen and (min-width: 1500px) {
    .listaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}

iframe {
    max-width: 100%;
    height: auto;
    }